* {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 150%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    background-color: #F3F5FC;
}

.logoAlura {
    margin-left: -40px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 40px;
    margin-bottom: 10px;
    height: 90vh;
    gap: 80px;
}

.criptografia {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    width: 50%;
}

.text-area {
    height: 100vh;
    margin-top: 50px;
    background-color: #F3F5FC;
    color: #0A3871;
    font-size: 32px;
    border: none;
    resize: none;
}

::placeholder {
    color: #0A3871;
}

.text-area:focus {
    outline: none;
}

.aviso {
    display: flex;
    align-items: center;
    gap: 8px;
}

p {
    color: #495057;
}

.botoes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

button {
    width: 100%;
    height: 4.18rem;
    font-size: 16px;
    border-radius: 24px;
    border: solid 1px;
    cursor: pointer;
}

.botao-criptografar {
    background-color: #0A3871;
    color: #FFFFFF;
}

.botao-criptografar:hover {
    color: #0A3871;
    background-color: #FFFFFF;
}

.botao-descriptografar {
    background-color: #D8DFE8;
    color: #0A3871;
}

.botao-descriptografar:hover {
    color: #FFFFFF;
    background-color: #0A3871;
}

.tradutor {
    display: flex;
    width: 61vh;
    height: 80vh;
    background-color: #FFFFFF;
    padding: 0px 0px 20px 0px;
    border-radius: 32px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.tradutor div:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 60vh;
    text-align: center;
}

.mensagem:focus{
    outline: none;
    padding: 20px 22px;
}

#semMensagem img {
    width: 60%;
}

#semMensagem p {
    margin: 4px;
}

#semMensagem p:nth-of-type(1) {
    font-size: 24px;
    font-weight: bold;
}

#semMensagem p:nth-of-type(2) {
    font-size: 16px;
}

.tradutor div:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.mensagem {
    width: calc(100% - 40px);
    height: calc(100% - 60px);
    border: none;
    border-radius: 32px;
    color: #0A3871;
    font-size: 24px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
    resize: none;
    overflow-y: auto;
}

.botao-copiar {
    width: 80%;
    color: #0A3871;
    background-color: #FFFFFF;
}

.botao-copiar:hover {
    color: #FFFFFF;
    background-color: #0A3871;
}

footer{
    display: flex;
    justify-content: center;
    height: 78px;
    font-size: 20px;
    background-color: #0A3871;
    align-items: center;
    color: #FFFFFF;
    height: 10vh;
}
